@import "style1.css";

body{
    font-family: 'Roboto', sans-serif;
    height: 10000px;

}
h1{
    color: greenyellow!important;
}

/*1*/
p{
    color: yellowgreen;
    font-size: 24px;
}
/*10*/
.test{
    font-family: 'Ma Shan Zheng', cursive;
}
/*100*/
#uuu{
    color: hsl(250, 98%, 45%);
    font-weight:900;
}
.btn{
    width: 200px;
    height: 50px;
    font-size: 25px;
    background-color: aquamarine;
}
button.btn.orange{
    background-color: orange;
}